/venv/
/1366x768/good fight bot.py
/1366x768/Ethire.py
/1366x768/main.py
/test go to object good.py
/test_vision_place.py
/test3.py
.idea/
/output/
/1366x768/res2.png
/1366x768/res.png
/__pycache__/
/craft/1920x1080.py
/1366x768/res1.png
/craft/result.png
/craft/test.py
/craft/test2.py
/1366x768/result.png
